<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Home </title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	
    <h1>Select here</h1>
    <form action="" method="GET">
      <label for="designation">Choose a car:</label>
      <select name="designation" id="designation">
        <option value="doctor">doctor</option>
        <option value="patient">patient</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
    
    

  </body>
</html>